<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/nav') %>
    <main>
      <h1>Nothing to show here!</h1>
    </main>
    <%- include('../includes/end') %>
